.footer-content {
    img {
        border-radius: 22px;
    }
    &-content {
        @include flex-column;
        justify-content: flex-start;
        align-items: center;
        p {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #FFFFFF;
        font-family: Poppins Bold;
        padding: 56px 0 78px;
        justify-content: center;
        }
    }
        .price {
            @include flex-row;
            justify-content: space-between;
            align-items: center;
            margin-top: 78px;
            &-items li {
                font-size: 15px;
                line-height: 27px;
                letter-spacing: 0.2px;
                color: #FFFFFF;
                padding: 10px 0;
                list-style: none;
                padding-left: 0;
                text-align: center;
            }
        }
    .contacts {
        &-item {
            @include flex-row;
            justify-content: start;
            align-items: center;
        }
        p {
            font-size: 15px;
            line-height: 27px;
            letter-spacing: 0.2px;
            color: #FFFFFF;
        }
        &-item-social {
            @include flex-row;
            img {
                @include flex-row;
                padding-right: 33px;
            }
        }
    }
}