.footer {
    margin: 0 auto;
    width: 87%;
    @include flex-row;
    justify-content: space-around;
    align-items: center;
    @media (max-width: $xl) {
        @include flex-column;
        align-items: center;
    }
    &-content {
        @include flex-column;
        justify-content: center;
        align-items: center;
        margin: 88px 0 78px;
        .footer-price {
            @include flex-row;
            justify-content: center;
            align-items: center;
            &-items {
                margin: 0;
                padding-left: 85px;
                @media (max-width: $xl) {
                    padding: 0;
                    margin: 0 50px
                }
                ul {
                font-size: 15px;
                line-height: 27px;
                color: $white;
                list-style: none;
                padding-left: 0;
                    li{
                        padding: 10px 0;
                        text-align: center;
                    }
                }
            }
        }
        p {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1px;
            color: $white;
            font-family: Poppins Bold;
            margin: 0;
            padding-top: 66px;
        }
    }
    img {
        padding: 0;
        margin: 62px 90px 62px 86px;
    }
    &-contacts {
        @include flex-column;
        justify-content: center;
        align-items: center;
        margin: 0;
        &__item {
            @media (max-width: $xl) {
                @include flex-row;
                justify-content: center;
                align-items: center;
            }
            img {
                margin: 0;
                padding: 11px 17.2px 11px 0;
            }
            p {
                font-size: 15px;
                line-height: 27px;
                letter-spacing: 0.2px;
                color: $white;
                margin: 0;
            }
        }
        &-social {
            @media (max-width: $xl) {
                @include flex-row;
                justify-content: space-between;
                align-items: center;
            }
            img {
                padding: 22px 32px 0 0;
                margin: 0;
                @media (max-width: $xl) {
                    padding: 15px;
                }
            }
        }
    }
}