.home-section-content {
    text-align: center;
    &__text {
        width: 50%;
        text-align: center;
        margin: 0 auto;
        h1 {
            font-size: 55px;
            line-height: 65px;
            letter-spacing: 0.2px;
            color: $white;
            font-family: Poppins Extra Bold;
            margin: 0;
            padding-top: 174px;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: $lightGray;
            font-family: Poppins Bold;
            padding: 27px 0 71px;
        }
    }
    &__buttons {
        button {
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: $white;
            border: 1px solid #FFFFFF;
            border-radius: 39px;
            width: 178px;
            height: 52px;
            background: transparent;
            margin: 18px 46px;
            margin-left: 6.5px;
        }
        button:hover {
            color: #112D57;
            background: $white;
        }
    }
    img {
        filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
        border-radius: 5px;
        width: 1021.5px;
        height: 608px;
        padding: 119px 0 85px;
    }
}