.operations-solution {
    @include flex-row;
    justify-content: center;
    align-items: center;
    @media (max-width: $xl) {
        @include flex-column;
        flex-direction: column-reverse;
    }
    &-image {
        margin: 110px 100px 110px 0;
        @media (max-width: $xl) {
            text-align: center;
            margin: 50px auto;
        }
        img {
            width: 100%;
        }
    }
    &-info {
        width: 40%;
        @media (max-width: $xl) {
            width: 60%;
            text-align: center;
        }
        h1 {
            font-size: 46px;
            line-height: 57px;
            letter-spacing: 0.2px;
            color: $black;
            margin: 0;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: $gray;
            font-family: Poppins Bold;
            margin: 47px 0 37px;
            width: 85%;
            @media (max-width: $xl) {
                width: 100%;
            }
        }
        button {
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: $white;
            padding: 18px 46px;
            background: $blue;
            box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
            border-radius: 39px;
            width: 147px;
            height: 52px;
            border-style: none;
        }
    }

}