.process {
    @include flex-row;
    justify-content: center;
    align-items: center;
    @media (max-width: $xl) {
        @include flex-column;
    }
    &-info {
        width: 35%;
        margin-right: 100px;
        @media (max-width: $xl) {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
        h1 {
            font-size: 45px;
            line-height: 57px;
            letter-spacing: 0.2px;
            color: $black;
            margin: 0;
            @media (max-width: $xl){
                text-align: center;
            }
            @media (max-width: $md) {
                text-align: start;
            }
        }
        p {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: $gray;
            font-family: Poppins Bold;
            padding: 46px 0 36px;
            @media (max-width: $xl){
                text-align: center;
            }
            @media (max-width: $md) {
                text-align: start;
                padding: 27px 0 98px;
                margin: 0;
            }
        }
        &__buttons {
            @media (max-width: $xl) {
                @include flex-column;
                align-items: center;
            }
            button {
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.2px;
                color: $green;
                padding: 18px 46px;
                background: #FFFFFF;
                border: 1px solid $green;
                box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
                border-radius: 39px;
                width: 210px;
                height: 52px;
                margin-right: 22px;
                @media (max-width: $md) {
                    width: 338px;
                    height: 52px;
                    margin: 0 0 22px 0;
                }
            }
            button:hover {
                color: $white;
                background: $blue;
                width: 216px;
                border-style: none;
            }
        }
    }
    &-image {
        margin: 110px 0 110px;
    }

}