.subscribe {
    text-align: center;
    hr {
        width: 60%;
        border: 1px solid #CDCDCD;
        margin-top: 51px;
        margin-bottom: 123px;
        display: inline-block;
    }
    h1 {
        font-size: 46px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: $black;
        margin: 0;
    }
    p {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: $gray;
        padding: 27px 0 69px;
    }
    &-form {
        @media (max-width: $md) {
            @include flex-column;
            align-items: center;
            width: 100%;
        }
        padding-bottom: 113px;
        input {
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: #5C5C5C;
            width: 284px;
            height: 52px;
            background: #EFEFEF;
            border: 1px solid #D0D0D0;
            box-sizing: border-box;
            border-radius: 6px;
            padding: 14px 28px;
            margin-right: 5px;
            font-family: Poppins Bold;
            @media (max-width: $md) {
                width: 483px;
                height: 62px;
                text-align: center;
                margin: 0;
            }
        }
        button {
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: $white;
            width: 177px;
            height: 52px;
            background: $blue;
            box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
            border-radius: 39px;
            padding: 18px 46px;
            margin-left: 5px;
            border-style: none;
            @media (max-width: $md) {
                box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
                border-radius: 6px;
                width: 483px;
                height: 62px;
                margin: 0;
            }
        }
    }
}