.business-solution
    .business-solution-info 
        h1 Perfect solution for small business
        p Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful. We'd love to show you what we're building...
        .business-solution-info__buttons
            button sign up for free
            button find out more
    .business-solution-image
        img(src="../img/screen-6.png", alt="image")