.footer
    .footer-content
        .footer-price
            .footer-price-items
                ul
                    li Price Item One
                    li Price Item Two
                    li Price Item Three
            .footer-price-items
                ul
                    li Price Item One
                    li Price Item Two
                    li Price Item Three
        p Just type what's on your mind
    img(src="../img/map.png", alt="map")
    .footer-contacts
        .footer-contacts__item
            img(src="../img/bx_bx-map.png", alt="icon")
            p 7480 Mockingbird Hill undefined
        .footer-contacts__item
            img(src="../img/ic_baseline-phone-android.png", alt="icon")
            p (239) 555-0108
        .footer-contacts-social
            img(src="../img/Vector-3.png", alt="twitter")
            img(src="../img/ant-design_facebook-filled.png", alt="facebook")
            img(src="../img/ant-design_linkedin-filled.png", alt="inkedin")