.header
    img(src="../img/logotype.png", alt="logo")
    nav
        ul
            li
                a(href="") Home
            li 
                a(href="") Product
            li 
                a(href="") About
            li 
                a(href="") Contact
    button Sign up