.header
    .header__logo
        img(src="../img/logotype.png", alt="logo")
    .header__menu
        nav
            ul
                li
                    a(href="") Home
                li 
                    a(href="") Product
                li 
                    a(href="") About
                li 
                    a(href="") Contact
    .header__button
        button Sign up
    .header__burger
        .header__burger-1
        .header__burger-2
        .header__burger-3