.home-section-content
    .home-section-content__text
        h1 Find the Best Solution in Seconds
        p If debugging is the process of removing software bugs.
    .home-section-content__buttons
        button.active get started
        button try for free
    img(src="../img/screen.png", alt="map")