doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./styles/main.css")
    title Landing Page
  body
    section.home-section
      include ./header.pug
      include ./home-section.pug
    section.services-section
      .container
        include ./services.pug
    section.subscribe-section
      include ./subscribe.pug
    footer.footer    
      .container
        include ./footer.html