.operations-solution
    .operations-solution-image
        img(src="../img/screen-5.png", alt="image")
    .operations-solution-info
        h1 Perfect for Operations HR and Finance
        p Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
        button Button