.pricing-text
    h1 Simple Pricing for Your Team
    p Slate helps you see how many more days you need
.pricing-item
    .pricing-item-education
        h2 Education
        p Brief price Description
        img(src="../img/Rectangle 5.png", alt="image")
        .price-info
            .price-info__number
                img(src="../img/0.png", alt="price")
            .price-info__descr
                img(src="../img/$.png", alt="currency")
                p Per/ month
        .price-info_descr
            p Only 2 Operators
            p Abandoned Cart
            p Facebook & Instagram Ads
            p Order Notifications
            p Landing Pages
        button Order Now
    .pricing-item-professional
        h2 Professional
        p Brief price Description
        img(src="../img/Rectangle 5-2.png", alt="image")
        .price-info
            .price-info__number
                img(src="../img/10.png", alt="price")
            .price-info__descr
                img(src="../img/$.png", alt="currency")
                p Per/ month
        .price-info_descr
            p Only 2 Operators
            p Abandoned Cart
            p Facebook & Instagram Ads
            p Order Notifications
            p Landing Pages
        button Order Now
    .pricing-item-business
        h2 Business
        p Brief price Description
        img(src="../img/Rectangle 5-3.png", alt="image")
        .price-info
            .price-info__number
                img(src="../img/99.png", alt="price")
            .price-info__descr
                img(src="../img/$.png", alt="currency")
                p Per/ month
        .price-info_descr
            p Only 2 Operators
            p Abandoned Cart
            p Facebook & Instagram Ads
            p Order Notifications
            p Landing Pages
        button Order Now

