.process
    .process-info
        h1 Quick & Easy Process
        p Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
        .process-info__buttons
            button.active sign up for free
            button find out more
    .process-image
        img(src="../img/screen-2.png", alt="image")
