.services
    h1 FigmaLand was Built Specifically for You
    .services-content
        .services-content-item
            img(src="../img/Vector-4.png", alt="icon")
            h2 Management
            p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            a(href="") Learn More 
        .services-content-item__active
            img(src="../img/Vector-5.png", alt="icon")
            h2 Customer Support
            p Slate helps you see how many more days you need to work to reach your financial goal the month and year.
            a(href="") Learn More
        .services-content-item
            img(src="../img/Vector-6.png", alt="icon")
            h2 Collaborative
            p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            a(href="") Learn More